.navBar{
  background-color: rgba(255, 192, 203, 0.5);
    
}
.navBar,ul,li,a{
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 10px;
  
}




.navBar a:hover{
  color: white;
}

 .logo{
  margin-bottom: 50px;
}

.navBar {
  display: flex; /* Utiliza un contenedor flexible */
  justify-content: space-between; /* Distribuye los elementos en ambos extremos */
  align-items: center;
  justify-content: center; /* Centra verticalmente los elementos */
}

.navBar nav {
  display: flex; /* Utiliza un contenedor flexible */
  align-items: center; /* Centra verticalmente los elementos */
}


/* Ajusta el estilo de CartWidget según tus necesidades */
